        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            display: flex;
            flex-direction: column;
            height: 100vh;
            width: 100vw;
            overflow: hidden;
            font-family: 'Changa', sans-serif;
        }

        header {
            background-color: rgb(11,59,56);
            color: white;
            padding: 10px;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
        }

        .header-content {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        /* For the email link */
        .header-content a {
            color: rgb(208,113,38); /* Orange color */
            text-decoration: none; 
        }

        /* Change color on hover */
        .header-content a:hover {
            color: rgb(220,134,65); /* Lighter orange on hover */
        }

        .header-logo {
            height: 35px;
            width: auto;
        }

        h1 {
            font-size: 2.2rem;
            margin: 0;
        }

        #map-container {
            flex-grow: 1;
            position: relative;
        }

        #map {
            height: 100%;
            width: 100%;
        }

        footer {
            background-color: rgb(11,59,56);
            color: white;
            padding: 5px;
            text-align: center;
            flex-shrink: 0;
        }

    /* Reset view button */
    .custom-button {
        background-color: rgba(255, 255, 255);
        background-image: url('Images/globe_icon.png');
        background-size: 72%; 
        background-repeat: no-repeat; 
        background-position: center;
        background-clip: padding-box;
        opacity: 90%;
        border: solid rgba(0, 0, 0, 0.2) 2px;
        border-radius: 4px;
        width: 33px; 
        height: 33px; 
        top: 0; 
        left: 0;
        cursor: pointer; 
    }


    /* Splash screen */
    #splash-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.9);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        opacity: 1;
        pointer-events: all;
    }
    #splash-modal.hidden {
        opacity: 0;
        pointer-events: none;
    }
    .splash-content {
        animation: fadeInUp 2s ease-out;
        background-color: #fff;
        padding: 2rem;
        border-radius: 8px;
        max-width: 550px;
        box-shadow: 0 0 20px rgba(0,0,0,0.5);
        text-align: center;
    }
    @keyframes fadeInUp {
        from { opacity: 0; transform: translateY(20px); }
        to { opacity: 1; transform: translateY(0); }
    }
    .splash-content h1 {
        color: rgb(11,59,56);
        margin-bottom: 0;
        font-family: 'Changa', sans-serif;
    }
    .splash-text {
        text-align: center;
        margin-top: 0;
        margin-bottom: 2rem;
        line-height: 1.8;
        font-family: 'Changa', sans-serif;
        font-size: 16px;
    }
    #accept-splash {
        background-color: rgb(11,59,56);
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        font-size: 20px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
        font-family: 'Changa', sans-serif;
    }
    #accept-splash:hover {
        background-color: rgb(17,92,87);
    }
